<html>
    <head>
        <title>taichi's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Taichi's blog</a></h1>
        </div>

        <div>
            <p>現在は、11月5日20:00ですよ</p>
            <h2><a href="">私の初めてのブログ</a></h2>
            <p>こんにちは、よろしくお願いいたします。</p>
        </div>

        <div>
            <p>公開日：今日だよ！</p>
            <h2><a href="">2番目の投稿</a></h2>
        </div>

        <div>
            <ul><li>リスト1番目</li>
                <li>リスト2番目</li>
                <li>リスト3番目</li>
            </ul>
        </div>



    </body>
</html>
